body {
    background-color: #ccc;
}

nav {
    margin-top: 15px;
}

nav a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

nav > div.col-xs-4 {
    padding: 0 5px;
}

    nav a div {
        border-radius: 100%;
        background-color: rgba(255,255,255,0.13);
        box-shadow: inset 2px -2px 10px rgba(255,255,255,0.20);
        transition: ease background-color 0.4s, ease box-shadow 0.4s;
    }

    nav a div:hover, nav a div.active {
        background: rgba(255,255,255,1);
        box-shadow: 0px 2px 10px rgba(255,255,255,0.8), 0px 5px 50px rgba(255,255,255,0.8), 0px 8px 80px rgba(255,255,255,0.6), 0px 8px 120px rgba(255,255,255,0.6);;
    }

    nav a div span {
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media(min-width:769px){
        nav a {
            font-size: 14px;
        }
        
        nav > div.col-xs-4 {
            padding: 0 15px;
        }
    }

    @media(min-width:990px){
        nav a {
            font-size: 18px;
        }
    }