@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/shared/_Master.cshtml";
    IEnumerable<IPublishedContent> auffuehrungen = Umbraco.Content(1067).Children();
    auffuehrungen = auffuehrungen.Where(c => c.GetPropertyValue<DateTime>("datum") > DateTime.Now).Take(3);
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-1">
        <h1>@Umbraco.Field("titel")</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-right-1 pull-right">
        <img alt="Vera Bauer" class="img-responsive" src="https://via.placeholder.com/800x500/ffffff" />
    </div>
    <div class="col-sm-4 col-sm-offset-1">
        @Umbraco.Field("einleitung")
    </div>

</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h2>@Umbraco.Field("titel2")</h2>
    </div>
</div>
@foreach (var auffuehrung in auffuehrungen)
{
    @Html.Partial("~/Views/Partials/_Auffuehrung.cshtml", auffuehrung);
}
        
       