@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "~/Views/shared/_Master.cshtml"; 
}

<div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                <h1>Vera Bauer</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-right-1 pull-right">
                <img alt="Vera Bauer" class="img-responsive" src="https://via.placeholder.com/800x500/ffffff" />
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                    quis, sem. Nulla consequat massa quis enim.
                </p>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2>Bevorstehende Aufführungen</h2>
            </div>
        </div>
        <section class="auffuehrung">
            <a href="ProgrammDetail.html">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-3">
                        <h3>Mensch, Luther!</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-1 gigDate">
                        <p>
                            Mittwoch<br class="hidden-xs" />
                            11. Oktober 2017<br class="hidden-xs" />
                            20 Uhr
                        </p>
                    </div>
                    <div class="col-sm-8">
                        <p class="description">Ein Lebensportrait in Briefen, Reflexionen und Musik</p>
                        <p>
                            Vera Bauer, Sprecherin – David Goldzycher, Violine.
                            Goethe-Institut Moskau,
                            Leninskij Prospekt 95a,
                            119313 Moskau, Russische Föderation
                        </p>
                    </div>
                </div>
            </a>
        </section>
        <section class="auffuehrung">
            <a href="ProgrammDetail.html">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-3">
                        <h3>Mensch, Luther!</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-1 gigDate">
                        <p>
                            Mittwoch<br class="hidden-xs" />
                            11. Oktober 2017<br class="hidden-xs" />
                            20 Uhr
                        </p>
                    </div>
                    <div class="col-sm-8">
                        <p class="description">Ein Lebensportrait in Briefen, Reflexionen und Musik</p>
                        <p>
                            Vera Bauer, Sprecherin – David Goldzycher, Violine.
                            Goethe-Institut Moskau,
                            Leninskij Prospekt 95a,
                            119313 Moskau, Russische Föderation
                        </p>
                    </div>
                </div>
            </a>
        </section>
        <section class="auffuehrung">
            <a href="ProgrammDetail.html">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-3">
                        <h3>Mensch, Luther!</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-1 gigDate">
                        <p>
                            Mittwoch<br class="hidden-xs" />
                            11. Oktober 2017<br class="hidden-xs" />
                            20 Uhr
                        </p>
                    </div>
                    <div class="col-sm-8">
                        <p class="description">Ein Lebensportrait in Briefen, Reflexionen und Musik</p>
                        <p>
                            Vera Bauer, Sprecherin – David Goldzycher, Violine.
                            Goethe-Institut Moskau,
                            Leninskij Prospekt 95a,
                            119313 Moskau, Russische Föderation
                        </p>
                    </div>
                </div>
            </a>
        </section>