@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Programme>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "~/Views/shared/_Master.cshtml";
    var children = Model.Content.Children().Where("Visible");
}


<section class="title row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>@Umbraco.Field("titel")</h1>
    </div>
</section>
@foreach (var programm in children)
{
    <section class="row programm">
        <div class="col-sm-10 col-sm-offset-1">
            <a href="@programm.Url">
                <h3>@programm.GetPropertyValue("titel")</h3>
                <p class="description">@programm.GetPropertyValue("untertitel")</p>
            </a>
        </div>
    </section>
}
