@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Spielplan>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = "~/Views/shared/_Master.cshtml";
    var children = Model.Content.Children().Where("Visible");
    children = children.OrderBy("datum");
}
<div class="fixed">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <h1>@Umbraco.Field("titel")</h1>
        </div>
    </div>

    <div class="row filter">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="customSelect">
                <select id="yearSelect"></select>
            </div>
            <img class="print" src="/img/icon_print.png" />
        </div>
    </div>
</div>
<div style="height:115px;"></div>
@{var currYear = 0; }
@foreach (var auffuehrung in children)
{
    var itemyear = auffuehrung.GetPropertyValue<DateTime>("datum").Year;
    if (currYear != itemyear)
    {
        currYear = itemyear;
        <a name="@itemyear" id="@itemyear" class="yearAnchor"></a>
    }
    @Html.Partial("~/Views/Partials/_Auffuehrung.cshtml", auffuehrung)
}