@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ZurPerson>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "~/Views/shared/_Master.cshtml";
}
<div class="row">
    <div class="col-sm-6 col-sm-offset-1">
        <h1>@Umbraco.Field("titel")</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-1">
        @Umbraco.Field("text")


        @*Link Tagi*@
        @*<a class="TagiLink" target="_blank" href="https://www.tagesanzeiger.ch/zuerich/Die-Buehne-zum-Proben-hat-Vera-Bauer-gleich-bei-sich-zu-Hause/story/29879623">
            <img alt="Tages Anzeiger" title="Tages Anzeiger" src="/img/tagi.jpg" />
        </a>*@
    </div>
    <div class="col-sm-4">
            @if (Model.Content.HasValue("bild"))
            {
                <img alt="Vera Bauer" class="img-responsive" src="@Umbraco.TypedMedia(Model.Content.GetPropertyValue<int>("bild")).Url" /><br />
            }
            @if (Model.Content.HasValue("galerie"))
            {
                <a class="button" id="GallerieButton" href="Zur-Person.html">
                    <div class="square" style="height: 165px;">
                        <span>Galerie</span>
                    </div>
                </a>
            }
</div>
</div>

@if (Model.Content.HasValue("galerie"))
{
    var imagesList = Model.Content.GetPropertyValue<List<IPublishedContent>>("galerie");

    if (imagesList.Count > 0)
    {
        <script type="text/javascript">
            window.galerie = [
                @foreach (var imageItem in imagesList)
                {
                    <text>
                        {src: '@(imageItem.Url)'},
                    </text>
                }
            ]
        </script>
    }
}