@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    @* Get the root of the website *@
    var root = CurrentPage.AncestorOrSelf(1);
    List<dynamic> pages = new List<dynamic>(root.Children.Where("Visible"));
    pages.Insert(0, root);
}

<nav class="container">
    <div class="row">
        @for (var i = 0; i < pages.Count; i++)
        {
            <div class="col-xs-4 col-sm-2 @(i == 0 ? "col-sm-offset-1" : null) ">
                <a href="@pages[i].Url">
                    <div class="square @((pages[i] == root && CurrentPage.Id == root.Id) || (pages[i] != root && pages[i].IsAncestorOrSelf(CurrentPage)) ? "active" : null)">
                        <span>@pages[i].Name</span>
                    </div>
                </a>
            </div>
            if (i == 1)
            {
                <div class="col-xs-4 col-sm-2 visible-xs MobileToggle">
                    <a>
                        <div class="square">
                            <span>Mehr...</span><br />
                            <svg enable-background="new 0 0 32 32" height="20px" id="arrowDown" version="1.1" viewBox="0 0 32 32" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg"><g id="background"><rect fill="none" height="32" width="32" /></g><g id="arrow_x5F_down"><polygon points="2.002,10 16.001,24 30.002,10  " /></g></svg>
                        </div>
                    </a>
                </div>
                <div class="MobileHidden">
            }
        }
        </div>
    </div>
</nav>

