<!DOCTYPE html>

<html lang="de-ch" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Vera Bauer</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="/css/Bootstratp.min.css" rel="stylesheet" />
    <link href="/css/magnific-popup.css" rel="stylesheet" />
    <link href="/css/Style.css" rel="stylesheet" />
</head>
<body>
    <header>
        @{Html.RenderPartial("_Navigation");}
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <script src="/js/jQuery.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
