<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1064" key="56b39ffd-af5a-4770-b527-87422a0dbb7a" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-11-13T10:00:52" updateDate="2017-11-13T10:00:52" nodeName="Home" urlName="home" path="-1,1064" isDoc="" nodeType="1063" creatorName="Timo Andraskay" writerName="Timo Andraskay" writerID="0" template="1061" nodeTypeAlias="home">
    <titel><![CDATA[Vera Bauer]]></titel>
    <einleitung><![CDATA[<p>Test Test</p>]]></einleitung>
  </home>
</root>